.todo-list {
    width: 550px;
    margin: 300px auto;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.control h1 {
    width: 100%;
    font-size: 100px;
    text-align: center;
    margin: 0;
    color: rgba(175, 47, 47, 0.15);
}

.control .new-todo {
    padding: 16px 16px 16px 60px;
    border: 0;
    outline: none;
    font-size: 24px;
    box-sizing: border-box;
    width: 100%;
    line-height: 1.4rem;
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.3);
}

.todos {
    margin: 0;
    padding: 0;
    list-style: none;
}

.todo-item {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 24px;
    display: flex;
    align-items: center;
}